%b Name:
= @mineral.name

%b Mohs Scale:
= @mineral.moh

%b Place of Origin:
= @mineral.origin

= form_for @user, :url => users_path, :html => { :multipart => true } do |form|
  = form.file_field :avatar

= link_to 'Edit', edit_scientist_path(@scientist)

= link_to 'Back', scientists_path